body {
    background-image: url(../images/marcus-dall-col-63805-unsplash.jpg);
    background-size: cover;
}

button {
    font-size: 18px;    
    font-family: 'Coming Soon', cursive;
    font-size: 22px;
    background-color: rgb(68, 51, 66);
    color: wheat;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

#buttonsHere {
    margin-top: 15px;
}


h1 {
    font-size: 106px;
    font-weight: bolder; 
    font-family: 'Coming Soon', cursive;
    color: wheat; 
}


p {
    font-family: 'Coming Soon', cursive;
    font-size: 16px;
    font-weight: bold;
    color: wheat;
}

#addTo {
    font-family: 'Coming Soon', cursive;
    font-size: 18px;
    background-color: rgb(68, 51, 66);
    color: wheat;  
    border-radius: 10px;

}

form {
    font-family: 'Coming Soon', cursive;
    font-size: 22px;
    
}

#addText {
    color: wheat;
    font-weight: bolder;

}

#searchHere {
    margin-top: 20px;
}

#gifsHere {
    padding-top: 10px;
}

.themeDiv {
    padding-top: 10px;
}

.searchGif {
    border-radius: 10px;
    cursor: pointer;
}

#heading {
    margin: 10px 0 10px 0;
}

@media (min-width: 576px) { 
    h1 {
        font-size: 55px;
    }
 }

/* // Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */